body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: #eee;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #333;
}

header img {
    height: 50px;
}

.lang-buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #f9d342;
    color: #000;
    font-weight: bold;
    transition: transform 0.2s;
    font-size: 1rem;
}

.lang-buttons button:hover {
    transform: scale(1.1);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

h1,
h2 {
    text-align: center;
    color: #f9d342;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

ul li {
    background: #3a3a3a;
    padding: 0.7rem 0.7rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

#desc {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
}

#about-desc {
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1rem;
}

#skills {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 25px;
}

.skill h3 {
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100px;
    height: auto;
}

.contact {
    text-align: center;
    margin-top: 3rem;
}

.contact a {
    font-size: 1.2rem;
    text-decoration: underline;
}