.modal {
  position: fixed;
  background-color: #424668;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  top: 42px;
  right: 0;
  padding: 10px;
}

.noBullet {
  list-style: none;
}

.noDecoration {
  text-decoration: none;
  color: #fefefa;
}

.hr {
  width: 60px;
}
