@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  body {
    font-size: 16px;
  }

  .icon {
    font-size: 23px;
  }

  .skillModal {
    margin: 10% 10%;
  }

  .error {
    font-size: 22px;
  }
  .error h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  body {
    font-size: 20px;
  }

  .date {
    font-size: 18px;
  }

  .grid {
    padding: 20px 50px 50px 50px;
  }

  .gridLargeScreen {
    grid-template-columns: repeat(auto-fit, minmax(441px, 1fr));
  }

  .imgContainer img {
    height: 214px;
    width: auto;
  }

  .icon {
    font-size: 28px;
  }

  .skillModal {
    margin: 10% 30%;
  }

  .error {
    font-size: 30px;
  }
  .error h1 {
    font-size: 40px;
  }
}

h1,
h2,
h3 {
  font-family: "Hind", "Trebuchet MS", sans-serif;
  letter-spacing: 0.04em;
}

body,
h4 {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: 0.03em;
}

/* #region Reusable classes */
.cursorPointer {
  cursor: pointer;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}

.flex {
  display: flex;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.noBullet {
  list-style: none;
  padding-left: 0;
}

.noDecoration {
  text-decoration: none;
}

.colorLinks {
  color: #fefefa;
}

.colorBtn {
  color: #b32a00;
}

.textCenter {
  text-align: center;
}

.hr {
  width: 130px;
  border: 2px solid #1f1f1f;
  border-radius: 2px;
}

.grid {
  display: grid;
}

.gridGap {
  gap: 50px;
}

.items {
  background-color: #ede1d6;
  border-radius: 5px;
  box-shadow: #b09a9a 0px 4px 14px;
}

.space {
  gap: 30px;
}

.itemsSpace {
  margin-bottom: 10px;
}

.NoPaddingLeft {
  padding-left: 0;
}

.listItems {
  align-items: center;
  gap: 10px;
}

.hoveredLink:hover {
  color: #ffbd70;
}

.noScroll {
  overflow-y: hidden;
}
/* #endregion Reusable classes */

/* #region Layout */
.layout {
  min-height: 100vh;
  background-color: #fffef2;
}

.wrapper {
  flex: 1;
  padding: 5px 15px;
  margin-top: 68px;
}
/* #endregion Layout */

/* #region Header */
.headerContainer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  background-color: #333652;
  justify-content: space-between;
  height: 58px;
  padding: 5px 15px;
}

header img {
  width: 58px;
}
/* #endregion Header */

/* #region Footer */
footer {
  background-color: #333652;
  padding-top: 15px;
  margin-top: 20px;
}

footer h4 {
  color: #fffef2;
  text-align: center;
  margin: 0;
}

.footer {
  justify-content: center;
  gap: 30px;
  height: 58px;
  padding-left: 0;
  margin: 0;
}
/* #endregion Footer */

/* #region Contact button */
.contactBtn {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffab5a 0,
    #ff6254 100%
  );
  border: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: rgb(66 36 35 / 40%) 0 2px 4px, rgb(66 53 35 / 30%) 0 7px 13px -3px,
    rgb(111 79 58 / 50%) 0 -3px 0 inset;
  color: #fefefa;
  cursor: pointer;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
  font-size: 18px;
  transition: box-shadow 0.15s, transform 0.15s;
}

.contactBtn:hover {
  box-shadow: rgba(66, 36, 35, 0.4) 0 4px 8px,
    rgba(66, 49, 35, 0.3) 0 7px 13px -3px, #6f4f3a80 0 -3px 0 inset;
  transform: translateY(-2px);
}

.contactBtn:focus {
  box-shadow: #ff6254 0 0 0 1.5px inset, rgba(66, 46, 35, 0.4) 0 2px 4px,
    rgba(66, 48, 35, 0.3) 0 7px 13px -3px, #ff6254 0 -3px 0 inset;
}

.contactBtn:active {
  box-shadow: #ff6254 0 3px 7px inset;
  transform: translateY(2px);
}
/* #endregion Contact button */

/* #region Navbar */
.navbarMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbarMenuBar {
  width: 40px;
  height: 4px;
  background: #fefefa;
  border-radius: 3px;
}

.navbarModal {
  position: fixed;
  background-color: #424668;
  gap: 20px;
  top: 68px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  margin: 0;
  overflow-y: auto;
}

.navbarModal a {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbarHr {
  width: 60px;
}

.selectedLink {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fefefa;
}
/* #endregion Navbar */

/* #region Home */
.colorName {
  color: #f44700;
}

.arrow {
  bottom: -10px;
  left: -52px;
}

.homeText {
  width: 50%;
  text-align: justify;
}
/* #endregion Home */

/* #region Projects */
.imgContainer {
  padding: 20px 10px 0 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectSpace {
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.projectLinks {
  justify-content: space-between;
  margin-top: 10px;
}
/* #endregion Projects */

/* #region Skills */
.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  row-gap: 35px;
  justify-items: center;
  align-items: center;
  margin: 30px 0 50px 0;
}

.small {
  width: 80px;
}

.skillModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px black solid;
  padding: 0.7em 1em;
  z-index: 2;
  box-shadow: #1f1f1f 0px 1px 10px;
  overflow-y: auto;
}

.xMark {
  position: absolute;
  right: 15px;
  top: 10px;
}

.bgModalBackdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
/* #endregion Skills */

/* #region Study */
.studyGridItem {
  padding: 0 70px 0 15px;
  align-items: center;
  justify-content: space-between;
}

.studyTitle {
  margin-bottom: 0;
}

.place {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
}

.date {
  margin-top: 0;
}

.studyLeft {
  width: 64%;
}

.hatBg {
  background-color: #ddc6b8;
  height: 200px;
  border-radius: 100%;
}

.hat {
  width: 70%;
  height: 70%;
  object-fit: contain;
}
/* #endregion Study */

/* #region Error */
.error {
  justify-content: center;
}
/* #endregion Error */
