@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  body {
    font-size: 16px;
  }

  .icon {
    font-size: 23px;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 22px;
  }
  body {
    font-size: 20px;
  }

  .date {
    font-size: 18px;
  }

  .grid {
    padding: 20px 50px 50px 50px;
  }

  .gridLargeScreen {
    grid-template-columns: repeat(auto-fit, minmax(441px, 1fr));
  }

  .imgContainer img {
    height: 214px;
    width: auto;
  }
}

h1,
h2,
h3 {
  font-family: "Hind", "Trebuchet MS", sans-serif;
  letter-spacing: 0.04em;
}
body {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: 0.03em;
}

.cursorPointer {
  cursor: pointer;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}

.noBullet {
  list-style: none;
  padding-left: 0;
}

.noDecoration {
  text-decoration: none;
}

.colorLinks {
  color: #fefefa;
}

.colorBtn {
  color: #b32a00;
}

.textCenter {
  text-align: center;
}

.textUppercase {
  text-transform: uppercase;
}

.icon {
  font-size: 23px;
}

.flex {
  display: flex;
}

.flexAround {
  justify-content: space-around;
}

.flexCenter {
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.layout {
  min-height: 100vh;
  background-color: #fffef2;
}

.wrapper {
  flex: 1;
  padding: 5px 15px;
  margin-top: 68px;
}

.headerContainer {
  position: fixed;
  width: 100%;
}

.header {
  background-color: #333652;
  justify-content: space-between;
  height: 58px;
  padding: 5px 15px;
}

header img {
  width: 58px;
}

.footer {
  background-color: #333652;
  justify-content: space-evenly;
  height: 58px;
  padding-left: 0;
  margin-bottom: 0;
}

.marginLeft {
  margin-left: 53px;
}

.hr {
  width: 130px;
  border: 2px solid #1f1f1f;
  border-radius: 2px;
}

.noScroll {
  overflow-y: hidden;
}

.bgModalBackdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbarMenuBar {
  width: 40px;
  height: 4px;
  background: #fefefa;
  border-radius: 3px;
}

.navbarModal {
  position: fixed;
  background-color: #424668;
  gap: 20px;
  top: 68px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  margin: 0;
  overflow-y: auto;
}

.navbarModal a {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbarHr {
  width: 60px;
}

.hoveredLink:hover {
  color: #ffbd70;
}

.selectedLink {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fefefa;
}

.grid {
  display: grid;
}

.gridGap {
  gap: 50px;
}

.items {
  background-color: #ede1d6;
  border-radius: 5px;
  box-shadow: #b09a9a 0px 4px 14px;
}

.imgContainer {
  padding: 20px 10px 0 20px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectSpace {
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.h2 {
  margin-top: 7px;
}

.space {
  gap: 30px;
}

.skillGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  row-gap: 35px;
  justify-items: center;
  align-items: center;
  margin: 30px 0 50px 0;
}

.studyGridItem {
  border-radius: 5px;
  background-color: #ede1d6;
  box-shadow: #b09a9a 0px 0px 4px;
  padding: 0px 15px;
}

.title {
  margin-bottom: 0;
}

.place {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 5px;
}

.date {
  margin-top: 0;
}

.itemsSpace {
  margin-bottom: 10px;
}

.projectLinks {
  justify-content: space-between;
  margin-top: 10px;
}

.NoPaddingLeft {
  padding-left: 0;
}

.listItems {
  align-items: center;
  gap: 10px;
}

.small {
  width: 80px;
}

.skillModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px 50px;
  border: 1px black solid;
  padding: 0.7em 1em;
  z-index: 2;
  box-shadow: #1f1f1f 0px 1px 10px;
  overflow-y: auto;
}

.xMark {
  position: absolute;
  right: 15px;
  top: 10px;
}
